{% with page=nolifes_ranking fetch_url="/nolife-ranking/" %}
    <div class="nolife-ranking ranking">
        <div class="search">
            {% include 'ranking/_search.html' %}
        </div>

        <div class="content">
            <table class="table ranking-list">
                <thead>
                    <tr>
                        <th>Miejsce</th>
                        <th>Nazwa postaci</th>
                        <th>Spędzony czas</th>
                        <th>Klasa</th>
                        <th>Królestwo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in nolifes_ranking.object_list %}
                        <tr>
                            <td>{{ player.place }}</td>
                            <td>{{ player.name }}</td>
                            <td>{{ player.playtime_label }}</td>
                            <td>{{ player.job_to_class }}</td>
                            <td>{{ player.get_empire }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% include 'ranking/_pagination.html' %}
    </div>
{% endwith %}
