<a href="#" id="password-reset">Zapomniałeś hasła?<a/>

<div class="modal" id="password-reset-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Resetuj hasło</p>
            <button class="delete" aria-label="close"></button>
        </header>

        <section class="modal-card-body">
            <div>
                Zapomniałeś swojego hasła? Wpisz adres e-mail poniżej,
                a następnie wyślemy Ci email z instrukcją do ustawienia
                nowego hasła.
            </div>

            <div class="mt-4">
                <input
                    type="email"
                    id="id_email"
                    class="input"
                    name="email"
                    placeholder="E-mail"
                    autocomplete="email"
                />
            </div>
        </section>

        <footer class="modal-card-foot">
            <button class="button is-success send-email">Wyślij</button>
            <button class="button cancel">Zamknij</button>
        </footer>
    </div>
</div>
